body {
    background-image: linear-gradient(45deg, lightgreen, green);
    height: 100vh;
    width: 98vw;
}

main h1 {
    text-align: left;
    font-family: sans-serif;
    color: green;

}

#form-container {
    margin: auto;
    width: 80vw;
    min-height: 90vh;
    background-color: ivory;
    border-radius: 5px;
    padding: 20px;
}

#form-container p {
    padding: 10px;
    text-transform: capitalize;
    font-family: sans-serif;
}

#form-container form label {
    font-weight: bold;
}

.free-form-text {
    width: 60%;
    height: 20px;
}

#form-container form #flex-container {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-items div {
    margin: 10px 0;
}

.flex-items {
    margin: 10px;
    width: 550px;
}

/* Styling for Age field */

#age {
    border: 1px solid black;
}

#age label {
    position: relative;
    top: -10px;
    left: 10px;
    background: white;
}

#age-flex {
    width: 90%;
    display: flex;
    margin-top: 0;
}

#age-flex div {
    margin-right: 30px;
    margin-left: 10px;
}


/* Styling for Submit button */

button {
    width: 100%;
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 3px;
    border-width: 0;
    margin: 10px 0;
}

button:hover {
    cursor: pointer;
}